#folder
test
train
val
images 
masks

#extra
__pycache__

#enviroment
.venv

#models
models
hdf5_trained_model_29march24.hdf5
history1.pkl
keras_trained_model_29march24.keras
satellite_standard_unet_100epochs_28March2024.hdf5
trained_model_29march24.h5
trained_model.h5